.content {
  padding: 15em;

  @include transition(padding, $transitionDuration);

  p {
      margin: 1em 0;
  }
}

.content__title {
  margin-bottom: 1em;

  color: $red;
  font-size: 1.9em;
  font-weight: 500;
}

.content__subtitle {
  display: block;
  margin-bottom: 3em;

  font-size: 1.2em;
  color: $gold;
  font-family: "fira_sansregular";
}

.content__text {
  color: $greyBlack;
}
