.work {
    margin-bottom: 3em;
    position: relative;

    font-size: 1.1em;

    border-bottom: 1px dashed $lightGrey;
}

.work__title {
    text-transform: none;
    color: $red;
    font-family: "fira_sansregular";
    font-size: 1.5em;
}

.work__img {
    margin: .5em 0;
    position: relative;

    img {
        max-width: 100%;

        border: 1px solid $lightGrey;
    }
}

.work__img__link {
    &:after {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 8px;
        padding-top: 25%;

        color: transparent;
        text-align: center;

        background-color: rgba(218, 52, 51, .8);
        @include transition(all, $transitionDuration);
    }
}

.work__img__link:hover {
    &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: -1px;
        bottom: 8px;

        color: #fff;
    }
}
