@media screen and (max-width: 1370px) {

    .about {
        padding: 5em;
    }

}

@media screen and (max-width: 815px) {

    .about {
        padding: 2em;
    }

    .me {
        max-width: 100%;
    }

}
